* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #f2f2f2;
    padding: 10px 40px 20px 40px;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 55%;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="pincode"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 19px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

fieldset {
    background-color: #fff;
    margin: 12px;
    padding: 18px;
    border: 1px solid gray;
}

input[type="submit"] {
    padding: 12px 12px;
    font-size: 25px;
    background-color: rgb(207, 28, 28);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0px 5px rgb(207, 28, 28);
}

input[type="submit"]:hover {
    background-color: rgb(7, 184, 243);
    box-shadow: 0px 5px rgb(28, 207, 186);
    cursor: pointer;
}